body
{
	margin: 0px;
}


#container
 {
 	margin: auto;
 	width: 1200px;
 }

#top
{
	height: 80px;
	display: flex;
	padding: 0px 10px;
	justify-content: space-between;
	width: 1200px;
 	margin: auto;
 	padding-top:20px; 
}

#logo
{
	text-align:center;
	width:300px;
	padding-top:10px;
}

#logo a
{
	text-decoration: none;
}

#logo-spn
{
	color:#ff97b7;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight:bold;
	font-size:35px;
}

#search
{
	width: auto;

}

#search-box
{
	display: flex;
	justify-content: center;
	padding-top: 15px;
}

#inputbox
{
	border: 2px solid #333;
	border-radius: 5px 0px 0px 5px;
	display: flex;
	padding-left: 5px; 
}

#search-box input
{
	width: 400px;
	height: 40px;
	border:0px;
	background-color: transparent;
	outline: none;
}

#search-box button
{
	background-color: #333;
	border-radius: 0px 5px 5px 0px;
	width: 50px;
	border:0px;
	font-family: Century Gothic;
	font-weight: bold;
	font-size: 15px;
	color:white;
}

#member-box
{
	padding-top: 15px;
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#member-box button
{
	padding:0px;
	width: 150px;
	height: 50px;
	border-radius:5px; 
	font-weight: bold;
	font-size: 14px;
	margin: 0px 10px;
	outline: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#login-btn
{
	background-color: white;
	border:3px solid #333;
	color:#333;
}

#cart-btn
{
	background-color: #333;
	border:3px solid #333;
	color:white;
}



/* --------BELT ZONE HERE // START POINT//-------*/



#color-belt
{
	width: 100%;
	height: 10px;
	display: flex;
}

#belt-1
{
	background-color: #f94144;
	width: 20%;
}

#belt-2
{
	background-color: #f3722c;
	width: 20%;
}

#belt-3
{
	background-color: #f8961e;
	width: 20%;
}

#belt-4
{
	background-color: #f9c74f;
	width: 20%;
}

#belt-5
{
	background-color: #90be6d;
	width: 20%;
}

#belt-6
{
	background-color: #43aa8b;
	width: 20%;
}

#belt-7
{
	background-color: #577590;
	width: 20%;
}



/* -----------BELT ZONE HERE // ENDING //--------*/


#menum
{
	width: 100%;
	background-color: #f9f9f9;

}

#menum ul
{
	width: 1200px;
	padding: 0px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

#menum ul li
{
	padding: 15px 20px;
	width: 50%;
	background-color: #f9f9f9;
	position: relative;
	text-align: center;
	font-family: century gothic;
}

#menum ul li a
{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #999;
	font-weight: bold;
	width: 100%;
	height: 100%;
	font-size: 14px;
}

#menum ul li:hover
{
	background-color: #f7f5fb;
}

#menum ul li:hover a
{
	color:#dc2f02;
}


#menum ul li:hover div
{
	display: block;
}

#menum ul li .downmenu
{
	width: 800px;
	display:none;
	background-color: white;
	position: absolute;
	z-index: 2;
	top: 50px;
	left: 0px;
	border-radius: 5px 5px 15px 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;

}

.sol
{
	width: 50%;
}

#slider
{
	width: 700px;
	margin: auto;
	height: 400px;
	position: relative;
	overflow: hidden;
}

#slider-content
{
	width: 500%;
	height: 400px;
	left: 0;
	animation: sliding 10s infinite;
	position: absolute;
}

.slider-img
{
	width: 20%;
	float: left;

}

.slider-img img
{
	height: 400px;
}


@keyframes sliding
{
	0%
	{
		transform: translateX(0px);
	}

	10%
	{
		transform: translateX(0px);
	}

	20%
	{
		transform: translateX(-700px);
	}

	30%
	{
		transform: translateX(-700px);
	}

	40%
	{
		transform: translateX(-1400px);
	}

	50%
	{
		transform: translateX(-1400px);
	}

	60%
	{
		transform: translateX(-2100px);
	}

	70%
	{
		transform: translateX(-2100px);
	}

	80%
	{
		transform: translateX(-2800px);
	}

	90%
	{
		transform: translateX(-2800px);
	}

	100%
	{
		transform: translateX(0px);
	}


} 


#firsatlar-belt
{
	width: 100%;
	background-color: #fb5607;
	text-align: center;
	padding: 10px 0px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
#firsatlar-belt h3
{
	vertical-align: center;
	font-family: Century Gothic;
	font-weight: bolder;
	color: white;
	margin: 0px;
	font-size:30px; 
}


#featured
{
	font-family: Century Gothic;
	padding: 30px;
	background-color: #eee; 
	display: flex;
	justify-content: center;
	max-width: 1900px;
 	min-width: 1300px;
 	margin: auto;
}

#featured h3
{
	margin:0px 0px 10px 0px;
	color:#444;
}

#featured section
{
	width: 20%
}

#featured section ul
{
	padding: 0px;
	margin: 0px;
}
#featured section ul li
{
	list-style: none;
}

#featured section ul li a
{
	text-decoration: none;
	color: #aaa;

}

.clean
{
	clear: both;
}

.deneme.content
{
	opacity: 0%;
}




/* ------------------------------Login.HTML--------------------------*/



#login-container
{
	margin:auto;
	width: 430px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#lg-logo-box
{
	text-align:center;
	margin-top:50px;
	margin-bottom: 50px;
}

#lg-logo-box a
{
	 text-decoration: none;
 }

 #lg-logo
{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:orangered;
	font-weight:bold;
	font-size:30px;
}

#main-box
{
	padding: 50px;
	width: auto;
	height: auto;
	border:2px solid #eee;
	border-radius:10px;
}

#login-register
{
	background-color:#eee;
	margin:10px 10px 40px 10px;
	border: 2px solid #eee;
	border-radius:10px;
	width:300px;
	padding:0px;
}

#lg-login-btn
{
	background-color: white;
	border: none;
	border-radius:7px;
	outline: none;
	width: 150px;
	height: 45px;
	color:#555;
	font-weight:bold;
	padding: 10px;
	margin:0px;
	
	
}

#lg-register-btn
{
	background-color: #eee;
	border: none;
	border-radius:7px;
	outline: none;
	width: 150px;
	height: 45px;
	color:#555;
	font-weight:bold;
	padding: 10px;
	margin:0px;
}

/* -------------------------Giriş Yap-----------------------*/


.login-txt-box
{
	background-color: #eee;
	border-radius: 5px;
	border:none;
	margin:10px;
	width: 300px;
	height: 50px;
	padding:15px;
	outline-color: pink;
}

#giris-btn
{
	background-color: orangered;
	
	border-radius: 5px;
	border:none;
	margin:10px;
	width: 300px;
	height: 50px;
	color:white;
	font-weight:bold;
	outline:none;
}

#sif-unuttum
{
	margin:10px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bold;
	color:orangered;
}

/* --------------------------Kayıt OL---------------------------*/

#register
{
	display:none;

}

.register-txt
{
	background-color: #eee;
	border-radius: 5px;
	border:none;
	margin:10px;
	width: 300px;
	height: 50px;
	padding:15px;
}

.as-txt
{
	background-color: #eee;
	border-radius: 5px;
	border:none;
	margin:10px;
	width: 138px;
	height: 50px;
	padding:15px;
}

#register-cb
{
	outline:none;
	margin:10px;

	-webkit-appearance: none;
	background-color: #fff;
	border: 2px solid #ccc;
	padding: 9px;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	overflow: none;
}

#register-cb:checked
{
	box-shadow: 0px 0px 5px orange ;
	border: 2px solid orange;
}

#register-cb:checked:after {
	content: '\2714';
	font-size: 35px;
	position: absolute;
	top: -22px;
	left: -2px;
	color:orange;
}

#gs
{
	position: relative;
	bottom: 15px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:#777;
}


/* ----------------------------------CART.HTML---------------------------------*/


#cart-container
{
	display:flex;
	justify-content: space-evenly;
	padding:30px 0px;
	font-family: -apple-system, 'SFProDisplay', system-ui, Helvetica Neue, sans-serif;
}

#cart-top-info
{
	font-size:28px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.013rem;
}

#cart-quantity-sum
{
	font-size:18px;
	font-weight: 200;
}

#cart-content
{
	width: 65%;
	padding: 20px;
	border-bottom: 1px solid #ddd;

}

#cart-info
{
	border: 1px solid #eee;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15%;
	height: 250px;
	padding: 20px;
}

#cart-info-sumPrice_wshipment
{
	font-weight: 600;
	font-size:26px;
}

#cart-info-continue-btn
{
	background-color: orangered;
	color:white;
	height: 50px;
	padding: 10px;
	border:1px solid white;
	border-radius:10px;
	font-size:16px;
	font-weight: 600;
}

#cart-info-details
{
	width: 100%;
	display: flex;
	flex-direction:column;
	font-size:12px;
	color:#3A3A3A;
	font-weight: 600;
	padding: 0px 5px;
}

#cart-info-details-shipment
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#cart-info-details-sum
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



.cart-product
{
	width: 95%;
	padding:10px 20px;
	display: flex;
	justify-content: space-between;
	
}

.cart-product img
{
	width: 100px;
	height: 100px;
	border:1px solid #eee;
	border-radius:15px;
	padding: 5px;
}

.cart-product-info
{
	width: 65%;
}

.cart-product-quantity
{
	width: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cart-product-quantity button
{
	border-radius: 360px;
	width: 35px;
	height: 35px;
	border:2px solid #eee;
	background-color: white;
	font-weight: 600;
	text-align: center;
	padding: 5px;
	color:orangered;
	outline: none;
}

.cart-product-quantity input
{
	border:0px solid #eee;
	width:35px;
	height: 35px;
	text-align:center;
	outline: none;
	padding: 5px;
}

.product_name
{
	font-weight: bold;
	color:#3a3a3a;
	font-size:16px;
}

.store_name
{
	font-weight: 200;
}

.price
{
	font-weight: 500;
}



/* ------------------------------------------PRODUCT.HTML--------------------------------*/


#product-container
{
	margin:auto;
	width: 1200px;
	display: flex;
	flex-direction: row;
	border-radius:10px;
	border: 2px solid #eaeaea;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 500;
}

#product-left
{
	background-color: #fff;
	width: 50%;
	height: 300px;
	border-radius: 8px 0px 0px 8px;
}

#product-right
{
	background-color: #eee;
	width: 50%;
	border-radius: 0px 8px 8px 0px;
	padding: 20px;
}

#product-product_name
{
	font-size:30px;
}

#product-product_brand
{
	color:#537ecf;
}

#product-price-details
{
	width:30%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 20px 0px;

}

#product-product_price
{
	font-size: 28px;
}

#product-oldPrice-style
{
	color:#bbb;
	text-decoration: line-through;
	font-size: 16px;
}

#product-discount-percent-box
{
	width: 50px;
	height: 50px;
	background-color: #333;
	text-align: center;
	color:white;
	display: flex;
	justify-content: center;
	padding:10px 10px 0px 10px;
	font-size:12px;
	font-weight:600;
	border-radius: 5px;
	margin-right: 10px;
}

#product-store
{
	width: 25%;
	padding: 5px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: white;
	color:#919191;
	text-align:center;
	font-size:15px;
}

#product-store_name
{
	color:#537ecf;
}

#product-quantity
{
	border:2px solid #888;
	border-radius: 10px;
	width: 90px;

	
}

#product-quantity button
{
	border:0px;
	width:30px;
	height:50px;
	background-color:#aaa;
}

#product-quantityUp
{
	border-radius: 7px 0px 0px 7px;
}

#product-quantityDown
{
	border-radius:0px 7px 7px 0px;
}

#product-quantity input
{
	border:0px;
	width:30px;
	padding:0px;
	height:50px;
	text-align:center;
}

#product-addToCart-btn
{
	background-color: #333;
	color:white;
	padding: 16px 24px 16px 24px;
	border:0px;
	font-weight:600;
	border-radius: 5px;
	font-size:15px;
}

#product-qatc
{
	margin-top:20px;
	width: 45%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/* -------------------PRODUCT-BOTTOM------------------------*/


#product-bottom
{
	width: 1200px;
	margin:10px auto;
	display: flex;
	flex-direction: row;
}

#product-bottom-left
{
	width: 20%;
	display: flex;
	flex-direction: column;
	background-color: #555;
	height: 75px;
	border-radius: 5px 0px 0px 5px;
}

#product-bottom-left button
{
	padding:10px 5px;
	font-size:16px;
	font-weight: 500;
}

#product-pDetails-btn
{
	color:#333;
	background-color: #eee;
	border:1px solid #aaa;
	border-radius: 0px 0px 0px 0px;
}

#product-pComments-btn
{
	color:#333;
	background-color:#aaa;
	//border:1px solid #eee;
	border-radius: 5px 0px 5px 0px;
}






#product-bottom-right
{
	width:80%;
	border:1px solid #ccc ;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	padding: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#product-details
{
	
}

#comment-section
{
	margin: auto;
	border-bottom: 1px solid #ccc;
	padding:5px;
}

#post-comment-section
{
	margin: 20px 0px;
	padding: 20px;
}

#post-comment-section button
{
	background-color: #333;
	color:white;
	padding: 10px;
	border-radius:5px;
	font-weight: 200;
}

#post-comment-txt
{
	max-width: 90%;
	min-width: 90%;
	border-radius: 5px;
	border:1px solid #333;
	height: 50px;
	max-height: 70px;
	padding: 5px;
	color:black;
	background-color: #fafafa;
	max-height: 100px;
}



